* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d0d0d;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: black;
}

.hide-nav {
  display: none;
}

.left-nav h2 {
  font-family: cursive;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 30px;
  padding: 6px;
  letter-spacing: 2px;
  border-bottom: 1px solid white;


}

.left-nav h2:hover {
  color: red;

}

.right-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
}

.right-nav ul li {
  list-style: none;
}

.right-nav ul li a {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  letter-spacing: 2px;
  font-family: cursive;
}

.right-nav ul li a:hover {
  background-color: red;
  font-weight: bold;
  border-radius: 4px;
}
.right-nav ul li a.active {
  background: red;
  color: white;
  border-radius: 5px;
  padding: 6px 12px;
}


.Intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 150px;
}

.left-Intro {
  width: 700px;
  padding-right: 40px;

}

.left-Intro span,
.Project h1,
.main h2,
.tech h2 {
  color: red;
  font-size: 40px;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {
    color: red;
  }

  to {
    color: rgb(224, 234, 222);
  }
}

.left-Intro h1,
h3 {
  margin-bottom: 20px;
  letter-spacing: 2px;

}

.left-Intro p,
.main p {
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 0px;
}

.right-Intro {
  padding-top: 30px;
}

.right-Intro img {
  width: 300px;
  height: 300px;
  border-radius: 30%;
  border: 2px solid red;
}

.resume {
  padding: 8px 18px;
  background-color: red;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 20px;
  letter-spacing: 1px;
}

.about,

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.skill{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  text-align: center;
  margin-top: 50px;
}
.main,
.tech,
.self,
.click,
.project1
 {
    max-width: 900px;
  width: 100%;
  padding: 40px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #22222dc2;
  margin-top: 40px;


}
.Project h1{
  padding: 60px 0px;
  
}
.project1{
  text-align: justify;
}
.project1 p{
  padding: 0;
  margin-bottom: 20px;
  font-size: 18px;
}
.project1 h3{
  font-size: 24px;
  color: red;
}
.project1 button{
  padding: 14px 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: red;
}
.project1 a{
  font-size: 16px;
  color: white;
}

.main:hover,
.tech:hover,
.project1:hover,
.tech button:hover,
.self:hover {
  box-shadow: 0px 2px 15px white;
  transform: translateX(-5px);
}

.main h2,
.tech h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.tech ul {
  display: flex;
  justify-content: center;
  align-items: center;

}

.tech ul li {
  list-style: none;
  margin: 10px 30px;
}

.tech button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #373232;
  color: white;
  border: 1px solid white;
}

.myself {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.self h3,
.click h2 {
  color: red;
  font-size: 22px;
}

.self ul,
p {
  padding-left: 30px;
}

.self ul li {
  line-height: 30px;
}

.click h2,
p {
  padding-bottom: 15px;
}

footer {
  text-align: center;
  padding: 20px;
}

@media (max-width: 950px) {
  .Intro {
    gap: 20px;
    padding-top: 120px;
  }

  .left-Intro {
    padding-right: 10px;
    width: 500px;
  }

  .right-Intro img {
    width: 200px;
    height: 200px;
  }

  .main,
  .tech,
  .self,
  .project1,
  .click {
    padding: 30px;
  }

  .about,
  .skill,
  .contact {
    margin-top: 20px;
  }

  .left-nav h2 {
    font-size: 20px;
    margin: 2px;
  }
}

@media (max-width: 800px) {
  .left-nav h2 {
    font-size: 16px;
  }

  .Intro {
    padding-top: 100px;
    gap: 10px;
  }

  .left-Intro h1,
  h3 {
    margin-bottom: 10px;
    letter-spacing: 1px;

  }

  .main,
  .tech,
  .self,
  .project1,
  .click {

    padding: 10px;
  }

  .tech ul {
    flex-wrap: wrap;
  }

  .tech ul li {
    margin: 6px 8px;
  }
}

@media (max-width: 680px) {
  .Intro {
    flex-wrap: wrap;
    text-align: center;
  }
  .left-Intro{
    width:100%;
  }

  .right-nav {
    display: none;
  }


 .dropbtn {
  background-color:red;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:red;
}

.hide-nav {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  min-width: 160px;
  top: 50px;
  right: 0px;
  overflow: auto;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: grey}

.show {display:block;}

  .main,
  .tech,
  .self,
  .click {
  
    padding: 10px;
  }

  main h2,
  .tech h2 {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .left-Intro span {
    font-size: 30px;
  }

  .self h3,
  .click h2 {
    color: red;
    font-size: 20px;
  }

  .self h3,
  .click h2 {
    font-size: 18px;
  }
  .main,
  .tech,
  .self,
  .project1,
  .click {
    width:350px;
    padding: 8px;
  }
  .left-Intro p, .main p{
  font-size: 14px;
    margin-bottom: 26px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 0px;}
        .self h3, .click h2 {
        font-size: 16px;
    }
    .click p{
      padding-left: 6px;
      padding-bottom: 8px;
    } 
    .Project h1{
    font-size: 30px;
    padding: 30px 0px ;
    }
    .project1{
    text-align: center;
  
    }
    .project1 h3{
    font-size: 20px;}
    .project1 p{
    font-size: 16px;
    margin-bottom: 6px;

}

}
@media (max-width:480px) {
.project1 button{
  padding: 8px 10px;
}
.project1 p{
  font-size: 14px;
  margin-bottom: 10px;
}
}